*.ipr
*.iws
target/
trading.home_IS_UNDEFINED/
catalina.home_IS_UNDEFINED/
.DS_Store
.DS_Store?
wm.home_IS_UNDEFINED/
.vscode/

*.sc
tmp/
/tmp.*
/tmp?.*
/tmp
*.log
/logs

/lib_managed/
scalafix

## Linux/KDE/Ubuntu
.directory
##

/report_html/
/allure-results/
/allure-report/

.bloop/
.bsp/
.metals/
/project/pluginsLocalDev.sbt
.idea

bazel-*
!bazel-deps
.ijwb

*.dot
*.png